
# نحوه اتصال به پایگاه داده در پایتون  
<span style="color:black;font-family: B Nazanin;font-size:16px">
<div style="direction:rtl">
در این بخش نحوه اتصال به پایگاه داده SQLite3 و انجام عملیات مختلف را بررسی می کنیم.
 کتابخانه SQLite3 در پایتون موجود است.
   
</div>
<div style="direction:rtl">
    اعمال مورد بررسی:   
</div>
    
  CRUD\
  C: Create\
  R: Read\
  U: Update\
  D: Delete
</span>

ref: https://www.geeksforgeeks.org/sql-using-python/

<span style="color:black;font-family: B Nazanin;font-size:16px">
<div style="direction:rtl"> 
    ابتدا باید sqlite3 را import نماییم 

</div>
</span>

In [11]:
import sqlite3

<span style="font-family: B Nazanin;font-size:16px">
<div style="direction:rtl">
    سپس با استفاده از متد $connect()$ یک اتصال ایجاد میکنیم و نام پایگاه داده ای را که می خواهیم به آن دسترسی داشته باشیم مشخص میکنیم. اگر فایلی با آن نام وجود داشته باشد آن فایل را باز می کند. در غیر این صورت، پایتون یک فایل با نام داده شده ایجاد می کند.
    سپس، یک شی cursor فراخوانی می شود تا بتواند دستورات را به SQL ارسال کند.
</div>
</span>

In [12]:
import sqlite3

# connecting to the database
connection = sqlite3.connect("testDB.db")

# cursor
crsr = connection.cursor()

# print statement will execute if there
# are no errors
print("Connected to the database")

# close the connection
connection.close()

Connected to the database

## cursor آشنایی با 
<span style="color:black;font-family: B Nazanin;font-size:16px">
<div style="direction:rtl">
<ul>
    <li>
شی cursor برای ایجاد اتصال برای اجرای پرس و جوهای SQL استفاده می شود
    </li>
    <li>
        به عنوان میان افزار بین اتصال پایگاه داده SQLite و پرس و جو SQL عمل می کند
    </li>
    <li>
       cursor یک ساختار کنترلی است که برای پیمایش و واکشی رکوردهای پایگاه داده استفاده می شود و  پس از اتصال به پایگاه داده SQLite ایجاد می شود
    </li>
    <li>
        تمام دستورات فقط با استفاده از cursor نما اجرا می شوند تمام دستورات فقط با استفاده از cursor نما اجرا می شوند
    </li>    
</ul>    
</div>
</span>

# ایجاد جدول

<span style="color:black;font-family: B Nazanin;font-size:16px">
<div style="direction:rtl">
پس از اتصال به پایگاه داده و ایجاد شی مکان نما، ببینیم که چگونه کوئری ها را اجرا کنیم
    <ul>
    <li>
برای اجرای یک کوئری در پایگاه داده، یک شی ایجاد می کنیم و دستور SQL را در آن بنویسیم. 
    </li>
    <li>
برای اجرای دستور متد $execute()$ را فراخوانی می کنیم و نام دستور SQL را به عنوان پارامتر در آن قرار می دهیم
        </li>
        <li>
پس از انجام کار، تغییرات را در فایل ذخیره و سپس اتصال را قطع می کنیم.
        </li>
    </ul>
</div>
</span>

In [4]:
import sqlite3

# connecting to the database
connection = sqlite3.connect("testDB.db")

# cursor
crsr = connection.cursor()

# SQL command to create a table in the database
sql_command = """CREATE TABLE emp ( 
staff_number INT PRIMARY KEY, 
fname VARCHAR(20), 
lname VARCHAR(30), 
gender CHAR(1), 
joining DATE);"""

# execute the statement
crsr.execute(sql_command)

# close the connection
connection.close()


<span style="color:black;font-family: B Nazanin;font-size:16px">
<div style="direction:rtl">
    بعد از ساخت جدول، نوبت به درج داده می رسد:
</div>
</span>

In [ ]:
# Python code to demonstrate table creation and
# insertions with SQL

# importing module
import sqlite3

# connecting to the database
connection = sqlite3.connect("testDB.db")

# cursor
crsr = connection.cursor()

# SQL command to insert the data in the table
sql_command = """INSERT INTO emp VALUES (23, "Rishabh",\
"Bansal", "M", "2014-03-28");"""
crsr.execute(sql_command)

# another SQL command to insert the data in the table
sql_command = """INSERT INTO emp VALUES (1, "Bill", "Gates",\
"M", "1980-10-28");"""
crsr.execute(sql_command)

# To save the changes in the files. Never skip this.
# If we skip this, nothing will be saved in the database.
connection.commit()

# close the connection
connection.close()

<span style="color:black;font-family: B Nazanin;font-size:16px">
<div style="direction:rtl">
مثال: درج داده توسط کاربر
</span>
</div>

In [6]:
# importing module
import sqlite3

# connecting to the database
connection = sqlite3.connect("testDB.db")

# cursor
crsr = connection.cursor()

# primary key
pk = [2, 3, 4, 5, 6]

# Enter 5 students first names
f_name = ['Nikhil', 'Nisha', 'Abhinav', 'Raju', 'Anshul']

# Enter 5 students last names
l_name = ['Aggarwal', 'Rawat', 'Tomar', 'Kumar', 'Aggarwal']

# Enter their gender respectively
gender = ['M', 'F', 'M', 'M', 'F']

# Enter their joining data respectively
date = ['2019-08-24', '2020-01-01', '2018-05-14', '2015-02-02', '2018-05-14']

for i in range(5):

	# This is the q-mark style:
	#crsr.execute('INSERT INTO employee3 VALUES ("{pk[i]}", "{f_name[i]}", "{l_name[i]}", "{gender[i]}", "{date[i]}")')
    crsr.execute('INSERT INTO emp2 VALUES (?, ?, ?, ?, ?)', (pk[i], f_name[i], l_name[i], gender[i], date[i]))


# To save the changes in the files. Never skip this.
# If we skip this, nothing will be saved in the database.
connection.commit()

# close the connection
connection.close()

# (Fetching Data) واکشی داده ها

<span style="color:black;font-family: B Nazanin;font-size:16px">
<div style="direction:rtl">
با استفاده از کوئری Select * from table_name می توان همه داده های یک جدول را واکشی و آنها را در شیئی ذخیره نمود
</span>
</div>

In [7]:
# importing the module
import sqlite3

# connect with the myTable database
connection = sqlite3.connect("testDB.db")

# cursor object
crsr = connection.cursor()

# execute the command to fetch all the data from the table emp
crsr.execute("SELECT * FROM emp")

# store all the fetched data in the ans variable
ans = crsr.fetchall()

# Since we have already selected all the data entries
# using the "SELECT *" SQL command and stored them in
# the ans variable, all we need to do now is to print
# out the ans variable
for i in ans:
	print(i)

(2, 'Nikhil', 'Aggarwal', 'M', '2019-08-24')
(3, 'Nisha', 'Rawat', 'F', '2020-01-01')
(4, 'Abhinav', 'Tomar', 'M', '2018-05-14')
(5, 'Raju', 'Kumar', 'M', '2015-02-02')
(6, 'Anshul', 'Aggarwal', 'F', '2018-05-14')

# به روز رسانی داده ها

<span style="color:black;font-family: B Nazanin;font-size:16px">
<div style="direction:rtl">
برای به روز رسانی داده ها در جدول SQLite3 از دستور UPDATE استفاده می کنیم. می‌توانیم ستون‌های تک و یا چندین ستون را با استفاده از عبارت UPDATE بر اساس نیاز خود به‌روزرسانی کنیم.
    </span>
    </div>
<pre>UPDATE table_name SET column1 = value1, column2 = value2,…  
WHERE condition; </pre>

In [ ]:
# Import module
import sqlite3

# Connecting to sqlite
conn = sqlite3.connect('testDB.db')

# Creating a cursor object using
# the cursor() method
cursor = conn.cursor()

# Updating
cursor.execute('''UPDATE emp SET lname = "Jyoti" WHERE fname="Rishabh";''')

# Commit your changes in the database
conn.commit()

# Closing the connection
conn.close()

# حذف داده ها و جداول

<span style="color:black;font-family: B Nazanin;font-size:16px">
<div style="direction:rtl">
برای حذف داده از یک جدول از دستور زیر استفاده می کنیم:

</span>
</div>

<pre>UPDATE table_name SET column1 = value1, column2 = value2,…  
WHERE condition; </pre>

<span style="color:black;font-family: B Nazanin;font-size:16px">
<div style="direction:rtl">
    مثال:

</span>
</div>

In [ ]:
# Import module
import sqlite3

# Connecting to sqlite
conn = sqlite3.connect('testDB.db')

# Creating a cursor object using
# the cursor() method
cursor = conn.cursor()

# Updating
cursor.execute('''DELETE FROM emp WHERE fname="Rishabh";''')

# Commit your changes in the database
conn.commit()

# Closing the connection
conn.close()

<span style="color:black;font-family: B Nazanin;font-size:16px">
<div style="direction:rtl">
برای حذف یک جدول با داده هایش نیز از دستور DROP TABLE استفاده می کنیم.
    مثال:
</span>
</div>

In [ ]:
# Import module
import sqlite3

# Connecting to sqlite
conn = sqlite3.connect('testDB.db')

# Creating a cursor object using
# the cursor() method
cursor = conn.cursor()

# Updating
cursor.execute('''DROP TABLE Student;''')

# Commit your changes in the database
conn.commit()

# Closing the connection
conn.close()

<span style="color:black;font-family: B Nazanin;font-size:16px">
<div style="direction:rtl">
مطالعه بیشتر در
<a href="https://www.geeksforgeeks.org/python-sqlite/">python-sqlite tutorial</a>
    
</span>
</div>